<h1>Results</h1>

<h3>Reverse Complement</h3>
<p><%= @seq.complement %></p>

<h3>3' to 5'</h3>
<p><%= @seq.reverse %></p>

<h3>Transcribed</h3>
<p><%= @seq.rna %></p>

<h3>Translated</h3>
<% if @seq.length >= 3 %>
	<p><%= @seq.translate %></p>
<% else %>
	<p>Proteins are each 3 nucleotide long</p>
<% end %>
