/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Variables */
$background: #C2C2D6;
$header-background: #B2B2CC;


/* Global */

html{
	background-color: $background;
}

.content{
	margin-top: 50px;
}

/* Header*/

header{
	min-height: 50px;
	background-color: $header-background;
	width: 100%;
	margin: 0;
	top: 0;
	left: 0;
	position: absolute;
	margin-bottom: 50px;
	a{
		text-decoration: none;
		margin-left: 20px;
		font-size: 2.5em;
		font-style: oblique;
		font-family: Sans-serif, Times, serif;
	}

    border-bottom: thick dotted #E0E0D1;
}

.error {
	color:red;
}

#nuc_search{
	resize: none;
	width: 25%;
	min-height: 100px;
	height: 25%;
}